In [4]:
import pandas as pd
import numpy as np
from scipy.stats import sem, t


data = pd.read_csv('100-Sales-Records.csv')

In [5]:
data.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50

In [9]:
mean_sales = data['Units Sold'].mean()
std_sales = data['Units Sold'].std()
print(f"Mean Sales: {mean_sales}, Standard Deviation: {std_sales}")

Mean Sales: 5128.71, Standard Deviation: 2794.4845616956904

In [10]:
confidence = 0.95
n = len(data['Units Sold'])
margin_error = sem(data['Units Sold']) * t.ppf((1 + confidence) / 2., n-1)
ci = (mean_sales - margin_error, mean_sales + margin_error)
print(f"95% Confidence Interval: {ci}")

95% Confidence Interval: (4574.22363619541, 5683.19636380459)

In [11]:
bootstrap_means = [data['Units Sold'].sample(frac=1, replace=True).mean() for _ in range(1000)]
bootstrap_ci = np.percentile(bootstrap_means, [2.5, 97.5])
print(f"Bootstrap Confidence Interval: {bootstrap_ci}")

Bootstrap Confidence Interval: [4613.37325 5719.0945 ]